@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
body {
  font-family: "Edu SA Beginner", cursive;
  color: #f9f5eb;
  background: url(wano.png);
  background-repeat: no-repeat;
  background-size: 100% 200%;
}
h1 {
  font-size: 4em;
  color: black;
}
p {
  color: black;
}
#timer {
  text-align: center;
  margin-left: 30%;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  width: 15%;
  padding: 10%;
}
button {
  padding: 5%;
  margin: 2%;
  background-color: inherit;
  border: solid 1px #2a0944;
  color: black;
}
button:hover {
  cursor: pointer;
  border-color: #f9f5eb;
  background-color: #2a0944;
  color: #f9f5eb;
  transition: 0.5s;
}
@media (max-width: 768px) {
  #timer {
    width: 30%;
    margin-left: 25%;
    margin-top: 20%;
  }
}
